<div style="height:100vh; width:100%; background: rgba(238,51,255,1);
background: -moz-linear-gradient(-45deg, rgba(238,51,255,1) 0%, rgba(238,51,255,1) 22%, rgba(200,41,254,1) 56%, rgba(151,29,252,1) 100%);
background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(238,51,255,1)), color-stop(22%, rgba(238,51,255,1)), color-stop(56%, rgba(200,41,254,1)), color-stop(100%, rgba(151,29,252,1)));
background: -webkit-linear-gradient(-45deg, rgba(238,51,255,1) 0%, rgba(238,51,255,1) 22%, rgba(200,41,254,1) 56%, rgba(151,29,252,1) 100%);
background: -o-linear-gradient(-45deg, rgba(238,51,255,1) 0%, rgba(238,51,255,1) 22%, rgba(200,41,254,1) 56%, rgba(151,29,252,1) 100%);
background: -ms-linear-gradient(-45deg, rgba(238,51,255,1) 0%, rgba(238,51,255,1) 22%, rgba(200,41,254,1) 56%, rgba(151,29,252,1) 100%);
background: linear-gradient(135deg, rgba(238,51,255,1) 0%, rgba(238,51,255,1) 22%, rgba(200,41,254,1) 56%, rgba(151,29,252,1) 100%); margin-bottom:20px; ">
	<div class="vertical-center">
		<div class="container text-center">
			<h1 style="font-size:70px; color:white;font-family:'raleway', sans-serif; font-weight:100; line-height:.2;">a little about us.</h1>
			<h4 style="font-family:'montserrat',sans-serif; font-size:14px;color:white">&& the future of postcards</h4>
			<br>
			
		</div>
	</div>
</div>

<div class="container">
	<div class="text-center" style="max-width:700px; margin-left:auto; margin-right:auto;">
		<image src="/assets/postcardcologofix.png" class="img img-responsive" style=" width:120px; margin-bottom:30px;margin-left:auto; margin-right:auto;"></image>
		<h2 style="font-family:'montserrat', sans-serif">About Us</h2>
		<p style="font-family:'raleway', sans-serif; font-size:14px; line-height:3;">Ethical gastropub pug ugh, truffaut biodiesel whatever tumblr pitchfork. Echo park art party authentic, before they sold out bushwick shabby chic ramps tousled offal. Meditation YOLO master cleanse cray typewriter four loko. Everyday carry lumbersexual typewriter retro farm-to-table. Fashion axe pabst 90's tumblr skateboard, yuccie chicharrones heirloom. Ugh normcore tattooed migas. Tacos ramps paleo tattooed, kogi listicle brooklyn mustache messenger bag keytar before they sold out.</p>
	</div>	
</div>

<div class="container">
	<h1>Braiden Bertinato</h1>
	<h1>Sebastian DeFrancesco</h1>
</div>