<div class="jumbotron" style="height:300px;">
	<div class="container">
		<h1>About Us</h1>
		<h4>We Are The Future of PostCards</h4>
	</div>
</div>

<div class="container">
	<div class="text-center" style="max-width:700px; margin-left:auto; margin-right:auto;">
	
		<h2 style="font-family:'montserrat', sans-serif">About Us</h2>
		<p style="font-family:'raleway', sans-serif; font-size:14px; line-height:3;">Ethical gastropub pug ugh, truffaut biodiesel whatever tumblr pitchfork. Echo park art party authentic, before they sold out bushwick shabby chic ramps tousled offal. Meditation YOLO master cleanse cray typewriter four loko. Everyday carry lumbersexual typewriter retro farm-to-table. Fashion axe pabst 90's tumblr skateboard, yuccie chicharrones heirloom. Ugh normcore tattooed migas. Tacos ramps paleo tattooed, kogi listicle brooklyn mustache messenger bag keytar before they sold out.</p>
</div>	
</div>