<div class="jumbotron" style="background: rgba(82,141,229,1);
background: -moz-linear-gradient(45deg, rgba(82,141,229,1) 0%, rgba(49,187,242,1) 100%);
background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(82,141,229,1)), color-stop(100%, rgba(49,187,242,1)));
background: -webkit-linear-gradient(45deg, rgba(82,141,229,1) 0%, rgba(49,187,242,1) 100%);
background: -o-linear-gradient(45deg, rgba(82,141,229,1) 0%, rgba(49,187,242,1) 100%);
background: -ms-linear-gradient(45deg, rgba(82,141,229,1) 0%, rgba(49,187,242,1) 100%);
background: linear-gradient(45deg, rgba(82,141,229,1) 0%, rgba(49,187,242,1) 100%);height:400px; padding-top:150px;">
	<div class="container" >
		<h1 class="monter" style="color:white">Career Oppourtunities</h1>
		<h4 style="color:white;" class="text-muted">Seeking Young, <b>Bright</b> minds.</h4>
	</div>
</div>

<div class="container">
<div class="row">
	<div class="col-sm-3">
		<div class="panel panel-default shadow">
			<div class="panel-heading"><h5 class="roboto"><span class="glyphicon glyphicon-globe"></span><b>Navigate</b></h5></div>
			<div class="panel-body"></div>
		</div>

	</div>
	<div class="col-sm-9">
	<ol class="breadcrumb" style="font-size:15px;">
  		<li><a href="#">Home</a></li>
  		<li class="active">Career Oppourtunities</li>
	</ol>
	<h3 class="monter">What We're Looking For</h3>

	<p style="line-height:25px; text-indent:25px">Semiotics paleo iPhone, pour-over williamsburg put a bird on it green juice street art locavore PBR&B. Cliche wolf kale chips kinfolk fingerstache XOXO. Vinyl art party vegan celiac, tote bag twee poutine pour-over. Lomo gochujang artisan sustainable cold-pressed, asymmetrical try-hard seitan flexitarian DIY authentic four dollar toast gluten-free. Meh microdosing cold-pressed chillwave. Letterpress locavore pinterest, tattooed four dollar toast pitchfork DIY ramps venmo mlkshk. Vice biodiesel artisan, bushwick tofu austin polaroid pop-up meh small batch PBR&B ethical blog.</p>
	<p style="line-height:25px; text-indent:25px">Semiotics paleo iPhone, pour-over williamsburg put a bird on it green juice street art locavore PBR&B. Cliche wolf kale chips kinfolk fingerstache XOXO. Vinyl art party vegan celiac, tote bag twee poutine pour-over. Lomo gochujang artisan sustainable cold-pressed, asymmetrical try-hard seitan flexitarian DIY authentic four dollar toast gluten-free. Meh microdosing cold-pressed chillwave. Letterpress locavore pinterest, tattooed four dollar toast pitchfork DIY ramps venmo mlkshk. Vice biodiesel artisan, bushwick tofu austin polaroid pop-up meh small batch PBR&B ethical blog.</p>
	<hr>
	<h1 class="monter">Junior Developer </h1>
	<hr>
	<h3 class="roboto">As a Post Card Co <b class="text-muted">Junior Developer</b>, An Applicant Should Know</h3>
	<br>
	<ul>
		<li>Intermediate Javascript</li>
		<li>Familiar With Jquery</li>
		<li>Proficient With Ruby</li>
		<li>Proficient With Ruby On Rails (Webb Application Framework)</li>
		<li>Must Know Advanced HTML5 + CSS3</li>
	</ul>
	<br>
	<p> As a possible Applicant for <b>Post Card Co</b>, We are looking for <b>Developers</b> who are able to problem solve, and grow with us not only as a company, but as a brand. The Developers play a vital role in the company, because it is they (the developers) who help deliver the product and and influence the user's workflow when purchasing a card. 
</div>
</div>
	</div>

<div class="overlay" style="background: linear-gradient(141deg, #0fb8ad 0%, #1fc8db 51%, #2cb5e8 75%); height:auto; width:100%; padding-top:60px; padding-bottom:60px;">
	<div class="container text-center">
		
		<h1 class="roboto" style="color:white">Think you have what it takes? <span>Send Us Your Resume</span></h1>
		<h4 style="color:white;">Developers@PostCardCo.com</h4>
		
	</div>
	
</div>