<div data-stellar-background-ratio="0.5" class="jumbotron" style="background-image:url('/assets/bird.jpeg'); margin:0px; height:auto; position:fixed; width:100%; z-index:1 ;padding-top:50px;">
	<div class="container">
		<h1 style="font-family:'montserrat',sans-serif; color:white;">Getting Started</h1>
		<h6 class="h6class" style="color:white;">Sorry, The Documentation Will Be Released When POST Card Co Is In Its Alpha Stage</h6>
	</div>
</div>

<style>
#footer {
	top:200px;
	position:relative;
};
</style>