<div class="jumbotron" style="margin:0px; height:100vh;padding-top:200px;background: rgba(224,101,241,1);
background: -moz-linear-gradient(45deg, rgba(224,101,241,1) 0%, rgba(173,67,254,1) 100%);
background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(224,101,241,1)), color-stop(100%, rgba(173,67,254,1)));
background: -webkit-linear-gradient(45deg, rgba(224,101,241,1) 0%, rgba(173,67,254,1) 100%);
background: -o-linear-gradient(45deg, rgba(224,101,241,1) 0%, rgba(173,67,254,1) 100%);
background: -ms-linear-gradient(45deg, rgba(224,101,241,1) 0%, rgba(173,67,254,1) 100%);
background: linear-gradient(45deg, rgba(224,101,241,1) 0%, rgba(173,67,254,1) 100%);">
	<div class="container">
		<h1 style="font-family:'montserrat',sans-serif; color:white;">Getting Started</h1>
		<h6 class="h6class" style="color:white;">Sorry, The Documentation Will Be Released When POST Card Co Is In Its Alpha Stage</h6>
	</div>
</div>