<div class="fullscreenimg" data-stellar-background-ratio="0.5"; style="width:100%; height:100vh; background: url('/assets/bird.jpeg'); background-size:cover; background-attachment:fixed; background-repeat:no-repeat;">
<div class="overlay" style="height:100vh; width:100%; background-color:rgba(0, 0, 0, 0.66);">
	<div class="container" style="padding-top:25vh;">
		<div id='wrap' class="text-center">
			<image class="img img-responsive"style="-webkit-filter: invert(100%); filter: invert(100%);
width:130px; margin-left:auto; margin-right:auto; padding-bottom:10px;"src="/assets/postcardcologofix.png"></image>
			<h1  class="animated fadeIn" style="font-family:'montserrat', sans-serif; color:white; font-size:50px; margin-bottom:5px; padding-bottom:0px;">POST Card Co</h1>
			<h4 style="color:gray; margin-bottom:5px;"><b>Mail</b> Is For the <span>Birds</span></h4>
			<h4 style="color:gray;" id="post"><b style="color:white;">POST</b> Is For The <b style="color:#27E1CE;">People</b></h4>
			
			<% if user_signed_in? %>
				<button class="btn btn-primary btn-outline with-arrow btn-lg" style="color:white;font-family:'montserrat', sans-serif; font-size:12px;">My Cards</button>	
			<% else %>
				
				<%= link_to 'Sign Up', new_user_registration_path, :class => 'btn btn-primary btn-outline btn-lg with-arrow', :style => "font-family:'montserrat', sans-serif; color:white; font-size:12px;" %>
			<% end %>
		</div>
		
	</div>
</div>
</div>

<div class="wrapper" style="width:100%; height:auto; padding-top:50px; padding-bottom:50px; background-color:#333333;-webkit-box-shadow:inset 0 0 50px px #000000;
box-shadow:inset 0 0 50px px #000000;">
	<div class="container text-center">
		<i id="globe" class="fa fa-globe" style="font-size:80px; margin-bottom:20px; color: #27E1CE;"></i>
		<h2 id="choose" style="color:white; font-family:'roboto', sans-serif; font-weight:100;"><b>Create</b>, Edit, and Send Postcards On <span style="color:#27E1CE">Customizable</span> Stationary To <i>Anywhere</i> In the World</h1>
		<h4 id="caption"style="color:gray;">Choose between different papers and envelopes to match the theme of your card.</h4>
		<a href="#" style="height:auto; color:white; padding-top:12px; padding-bottom:12px; font-family:'montserrat', sans-serif; font-size:12px" class="btn btn-primary btn-outline with-arrow btn-sm">Get Started <i class="fa fa-arrow-right"></i></a>
	</div>
</div>


<div id="fh5co-services-section">
		<div class="container">
			<div class="row">
				<div class="col-md-6 col-md-offset-3 text-center fh5co-heading animate-box">
					<h2 style="font-family:'montserrat';">Our Awesome Features For Artists</h2>
					<p>Some of the many benefits of becoming a Post Card Co artist include the follwing </p>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4 animate-box">
					<div class="services">
						<i class="fa fa-laptop"></i>
						<div class="desc">
							<h3>Artist Dashboard</h3>
							<p>As a Post Card Co Artist, users will be able edit, view, destroy and control all contributions contributed by that artist. </p>
						</div>
					</div>
				</div>
				<div class="col-md-4 animate-box">
					<div class="services">
						<i class="icon-server fa fa-server"></i>
						<div class="desc">
							<h3>Administration</h3>
							<p>POST Card Co allows their artist's to monitor all of their own cards, including making some private cards only available to specific users. </p>
						</div>
					</div>
				</div>
				<div class="col-md-4 animate-box">
					<div class="services">
						<i class="icon-money fa fa-money"></i>
						<div class="desc">
							<h3>Make Money</h3>
							<p>Earn money by creating cards that you think others will use and send out. For every card that a user sends out, the artist is given a generous percentage of the sale.</p>
						</div>
					</div>
				</div>
				<div class="col-md-4 animate-box">
					<div class="services">
						<i class="icon-tablet fa fa-tablet"></i>
						<div class="desc">
							<h3>Mobile Uploading</h3>
							<p>Not only is Post Card Co available to desktop users, but it was also developed for mobile and tablet users too. Take advantage of the mobile feature on your device today.</p>
						</div>
					</div>
				</div>
				<div class="col-md-4 animate-box">
					<div class="services">
						<i class="icon-line-chart fa fa-line-chart"></i>
						<div class="desc">
							<h3>Online Marketing</h3>
							<p>Brand yourself and showcase your work for others to see. One of the many ways to get people familiar with your name and style. If people enjoy your work, it will get used.</p>
						</div>
					</div>
				</div>
				<div class="col-md-4 animate-box">
					<div class="services">
						<i class="icon-pie-chart fa fa-pie-chart"></i>
						<div class="desc">
							<h3>Business Analytics</h3>
							<p>Keep track of how many cards you are selling or using all within the artist's dashboard.</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
<div style="height:auto; background:url('/assets/bird.jpeg'); background-repeat:no-repeat; background-size:cover; background-attachment:fixed;" data-stellar-background-ratio="0.5">
	<div class="jumbotron text-center" style="height:auto; padding-top:120px; padding-bottom:120px; background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(27,65,82,1)), color-stop(1%, rgba(27,65,82,1)), color-stop(80%, rgba(30,214,206,0.64)), color-stop(100%, rgba(31,252,237,0.64)));
background: -webkit-linear-gradient(-45deg, rgba(27,65,82,1) 0%, rgba(27,65,82,1) 1%, rgba(30,214,206,0.64) 80%, rgba(31,252,237,0.64) 100%);
background: -o-linear-gradient(-45deg, rgba(27,65,82,1) 0%, rgba(27,65,82,1) 1%, rgba(30,214,206,0.64) 80%, rgba(31,252,237,0.64) 100%);
background: -ms-linear-gradient(-45deg, rgba(27,65,82,1) 0%, rgba(27,65,82,1) 1%, rgba(30,214,206,0.64) 80%, rgba(31,252,237,0.64) 100%);
background: linear-gradient(135deg, rgba(27,65,82,1) 0%, rgba(27,65,82,1) 1%, rgba(30,214,206,0.64) 80%, rgba(31,252,237,0.64) 100%);
">
		<div class="container">
			<i class="fa fa-upload" style="font-size:60px; margin-bottom:20px; color:#27E1CE;"></i>
			<h2 style="font-family:'montserrat', sans-serif; color:white;" class="text-center">There Is <b><%= @post.count %></b> Uploads And <b><%= @user.count %></b> Active Users</h2>
			<p class="text-center" style="font-size:14px;margin-bottom:20px; color:white; font-family:'montserrat',sans-serif;">Join Us Now, its free.</p>
			<image  class="img img-responive" style="margin-left:auto; margin-right:auto; width:60px;"src="/assets/postcardcologofix.png"></image>


		</div>
	</div>
	</div>

<script>
	$.stellar();
</script>
	<script>
	
	$('.animate-box').css('opacity', '0')
	$('#caption').css('opacity', '0')
		$('#choose').css('opacity', '0')
		$('#globe').css('opacity', '0')
		$('#post').waypoint(function() {
			$('#globe').addClass('animated fadeInLeft');
			$("#choose").addClass('animated fadeInUp');
			$('#caption').addClass('animated fadeIn');
			$('#globe').css('opacity', '1');
			
		 });

		$('#choose').waypoint(function() {
			$(".animate-box").addClass('animated fadeInUp');
		});
	</script>